### Pytorch
Prepare data

In [17]:
import pandas as pd

df = pd.read_csv('data/cleaned_data.csv', delimiter = ';')
# Shuffle the DataFrame
df = df.sample(frac = 1, random_state=27)
df.head(10)

,Unnamed: 0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
1014,1061,7.0,0.21,0.28,7.50,0.070,45.0,185.0,0.99660,3.34,0.55,9.4,5,0
4752,124,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.99600,3.39,0.48,9.5,5,1
5106,642,9.9,0.54,0.45,2.30,0.071,16.0,40.0,0.99910,3.39,0.62,9.4,5,1
1660,1772,7.8,0.40,0.26,9.50,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,6,0
997,1043,7.5,0.33,0.48,19.45,0.048,55.0,243.0,1.00100,2.95,0.40,8.8,5,0
4404,4641,6.6,0.26,0.36,1.20,0.035,43.0,126.0,0.99094,3.01,0.63,11.4,6,0
129,133,6.6,0.24,0.27,15.80,0.035,46.0,188.0,0.99820,3.24,0.51,9.2,5,0
901,944,6.5,0.18,0.33,8.00,0.051,16.0,131.0,0.99650,3.28,0.44,8.7,7,0
848,891,5.8,0.26,0.18,1.20,0.031,40.0,114.0,0.99080,3.42,0.40,11.0,7,0
792,826,6.8,0.25,0.38,8.10,0.046,24.0,155.0,0.99560,3.33,0.59,10.2,6,0

In [29]:
train_size = int(len(df) * 0.64)
test_size = int(len(df) * 0.8)

# training set - 64% from all data
train_df = df[:train_size]

# validation set - 16% from all data
val_df = df[train_size:test_size]

# testing set - 20% from all data
test_df = df[test_size:]

print('df -', df.shape[0])
print('---------------')
print('train_df -', train_df.shape[0])
print('val_df -', val_df.shape[0])
print('test_df -', test_df.shape[0])

df - 5919
---------------
train_df - 3788
val_df - 947
test_df - 1184

In [30]:
import torch